h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: bold;
    font-size: 40px;
    text-align: left;
    font-color: rgba(1, 1, 20, 0.952);
}

body { 
      text-align: left;
      font-size: 20px;
      font-style: italic;
}